body{
  margin: 20px;
  padding: 0px;
  background-image:white;

}


#navSales{
  width: 100svw;
  height: 10svh;
  text-align: center;
  color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-size: 20px;
}


#main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}


.formInput{
  width: 90svw;
  height: 13svh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label{
  font-weight: 800;
  font-size: 20px;
}

input, select{
  height: 34px;
  width: 300px;
}

.no{
  width: 75px;
}

table, td, th{
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(180, 243, 150));
}

.mainTh{
  background-image:linear-gradient(rgb(24, 31, 6),rgb(18, 8, 48));
  color: antiquewhite;
  font-size: 20px;
}

th{
  font-weight: 800;
  height: 34px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(202, 184, 168);
  background-image:linear-gradient(rgb(24, 31, 6),rgb(25, 48, 18));
}

tr{
  height: 40px;
}

#functions{
  display: flex;
  flex-direction: column;
}


button{
  width: 85px;
  height: 40px;
  background-color: rgb(13, 230, 5);
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 0px;
}